#game-setup {
  margin-bottom: 20px; /* Add margin at the bottom */
}

#minefield {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.minecell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
}